body {
  font-family: sans-serif;
  font-weight: lighter;
}

h1 {
  text-align: center;
  font-weight: lighter;
}

.container {
  display: block;
	max-width: 600px;
}

.choice {
	margin: .4em;
	padding: 0px;
	margin-right: auto;
	margin-left: auto;
}

.choices {
	display: flex;
	flex-wrap: wrap;
	margin: 1em;
}


a:hover {
  color: black;
}
