body {
  font-family: sans-serif;
  font-weight: lighter;
}

h1 {
  text-align: center;
  font-weight: lighter;
}

.container {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.bot-response {
	position: relative;
	background: #0084ff;
  border-radius: .8em;
  margin: 5px;
  padding: 10px;
  color: white;
}

.bot-response:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-right-color: #0084ff;
	border-left: 0;
	border-bottom: 0;
	margin-top: -4px;
	margin-left: -8px;
}

.choice {
	position: relative;
	background: #eeeeee;
  border-radius: .4em;
  margin: 5px;
  padding: 10px;
  text-align: right
}

.choice:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-left-color: #eeeeee;
	border-right: 0;
	border-bottom: 0;
	margin-top: -4px;
	margin-right: -8px;
}

a:hover {
  color: black;
}

.resource {
  height: 10em;
	text-align: right;
	background: #eeeeee;
	padding: .4em;
	border-radius: .4em;
}

.error {
	background: red;
	color: white;
	padding: .4em;
	border-radius: .4em;
}

.thumbnail {
  height: 80%;
}

.resource > p {
	margin-top: -1em;
	font-weight: 500;
}

img {
	height: 100%;
	border-radius: .4em;
}